.voice-recorder {
  min-height: 100vh;
  display: grid;
  place-content: center;
}

.title {
  margin-bottom: 2rem;
  font-size: 3rem;
  text-align: center;
}

.recorder-container {
  min-width: 128px;
  width: 15vw;
  height: 50vh;
  border-radius: 1rem;
  background: linear-gradient(to right, #232121, #232121);
  color: #fff;
}