html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Roboto Mono", monospace;
  background-color: #272a2f;
  /* This will be shown if the GIF fails to load */
  background-image: url('./images/background.gif');
  /* Set the gif as background */
  background-repeat: no-repeat;
  /* To prevent the image from repeating */
  background-size: cover;
  /* To make the image cover the entire viewport */
  background-position: center center;
  /* Center the background image */
}